<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Biblioteca da AV Canido</title>
    <link href="../CSS/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="../imaxes/av_canido_favicon.png" />
    <script type="module" async src="../JavaScript/copyright-auto.js"></script>
    <script type="module" async src="../JavaScript/chave-login-IF.js"></script>

    <!--FONTS = Comfortaa | Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <!------------------------------------------------------->
    <!-----------------------   HEADER   -------------------->
    <!------------------------------------------------------->
    <header class="header-xestion">
      <div class="logo-index"><img src="../imaxes/av_canido_logo.png"></div>
      <h2>INICIAR SESIÓN</h2>
      
    </header>
    <!------------------------------------------------------->
    <!------------------------   MAIN   --------------------->
    <!------------------------------------------------------->
    <section class="pax-inicio-sesion">
      <div class="formulario">
        <div id="form-inicio-sesion">
          <p>Introduce a chave secreta para iniciar sesión</p>
          <div>
            <input id="chave-secreta" type="password">
            <img class="ollo" src="../imaxes/eye.svg">
          </div>
          <button id="boton-confirmar-usuario">ENTRAR</button>
          <p class="condicion-usuario"></p>
          <p>(TEMPORTAL)A chave é Canid0</p>
        </div>
      </div>
    </section>
    <!------------------------------------------------------->
    <!-----------------------   FOOTER   -------------------->
    <!------------------------------------------------------->
    <footer>
        <p class="copyright"></p>
    </footer>
  </body>
</html>