<!DOCTYPE html>
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Facer un Préstamo - Biblioteca da AV Canido</title>
    <link href="../CSS/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="../imaxes/av_canido_favicon.png" />
    <script type="module" async src="#####"></script>

    <!--FONTS = Comfortaa | Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <!------------------------------------------------------->
    <!-----------------------   HEADER   -------------------->
    <!------------------------------------------------------->
    <header class="header-xestion">
      <div class="logo-xestion"><img src="../imaxes/av_canido_logo.png"></div>
      
  </header>
    <!------------------------------------------------------->
    <!------------------------   MAIN   --------------------->
    <!------------------------------------------------------->
    <section class="pax-form">
      
      <h2>FACER UN PRÉSTAMO</h2>
        
        <div class="formulario">
          <form id="form-novo-prestamo">
            <div>
            <label>Título<span class="asterisco"> *</span></label>
            <input id="input-titulo-prestamo" type="text" required/>
            </div>
            <div>
            <label>Autor<span class="asterisco"> *</span></label>
            <input id="input-autor-prestamo" type="text" required/>
            </div>
            
            <div>
            <label>Apelidos Soci@<span class="asterisco"> *</span></label>
            <input id="input-apelidos-socio" type="text" required/>
          </div>
            <div>
            <label>Nome Soci@<span class="asterisco"> *</span></label>
            <input id="input-nome-socio" type="text" required/>
          </div>
          <div>
            <label>Data do Préstamo<span class="asterisco"> *</span></label>
            <input id="input-data-prestamo" type="date" onchange="dataDevolucionAuto();" required/>
          </div>
          <div>
            <label>Data de Devolución<span class="asterisco"> *</span></label>
            <input id="input-data-devolucion" type="date" required/>
          </div>
            <div class="boton-formulario">
            <button class="boton-enviar-prestamo">CONFIRMAR</button>
            <button class="boton-cancelar-prestamo">CANCELAR</button>
          </div>
          
          </form>
          
        </div>
        <p class="detalle-formulario">Aqueles campos cun asterisco (<span class="asterisco">*</span>) indican que o campo e OBLIGATORIO</p>
    </section>
    <!------------------------------------------------------->
    <!-----------------------   FOOTER   -------------------->
    <!------------------------------------------------------->
    <footer>
        <p class="copyright">
          &#169; 2024 Asociación Veciñal de Canido
          <!--añadir JS para que el año cambie automaticamente-->
        </p>
      </div>
    </footer>
    <script>
      function dataDevolucionAuto() {
        
        var date = new Date(document.getElementById("input-data-prestamo").value);
        date.setDate(date.getDate() + 15);
        document.getElementById("input-data-devolucion").valueAsDate = date;
      }

    </script>

    
  </body>
</html>