<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Engadir Libro - Biblioteca da AV Canido</title>
    <link href="../CSS/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="../imaxes/av_canido_favicon.png" />
    <script type="module" async src="../JavaScript/copyright-auto.js"></script>

    <!--FONTS = Comfortaa | Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <!------------------------------------------------------->
    <!-----------------------   HEADER   -------------------->
    <!------------------------------------------------------->
    <header class="header-xestion">
      <div class="logo-xestion"><img src="../imaxes/av_canido_logo.png"></div>

  </header>
    <!------------------------------------------------------->
    <!------------------------   MAIN   --------------------->
    <!------------------------------------------------------->
    <section class="pax-form">
      
      <h2>ENGADIR NOVO LIBRO</h2>
        
        <div class="formulario">
          <form id="form-novo-libro">
            <div>
            <label>Título<span class="asterisco"> *</span></label>
            <input id="input-titulo" type="text" required/>
            </div>
            <div>
            <label>Autor<span class="asterisco"> *</span></label>
            <input id="input-autor" type="text" required/>
            </div>
            <div>
            <label>Xénero<span class="asterisco"> *</span></label>
            <select id="input-xenero" required>
              <option>--Sen Especificar--</option>
              <option>Literatura Internacional</option>
              <option>Literatura Sudamericana</option>
              <option>Literatura Española Contemporánea</option>
              <option>Literatura Galega</option>
              <option>Literatura de Ferrol</option>
              <option>Política e Historia</option>
              <option>Poesía</option>
              <option>Crítica Literaria</option>
              <option>Friki</option>
              <option>Literatura Infantil</option>
              <option>Manuales</option>
              <option>Arte e Historia do Arte</option>
              <option>Diccionarios</option>
              <option>Filosofía e Pensamento</option>
              <option>Antigos e Curiosos</option>
              <option>Clásicos</option>
              <option>Novela Negra</option>
              <option>Cine</option>
              <option>Libros de Consulta</option>
            </select>
          </div>
            <div>
            <label>Editorial<span class="asterisco"> *</span></label>
            <input id="input-editorial" type="text" required/>
          </div>

            <div>
            <label>ISBN (sin espacios)<span class="asterisco"> *</span></label>
            <input id="input-isbn" type="number" required/>
          </div>
            <div class="boton-formulario">
            <button class="boton-enviar-libro">CONFIRMAR</button>
            <button class="boton-cancelar-libro">CANCELAR</button>
          </div>
          

          </form>
          
        </div>
        <p class="detalle-formulario">Aqueles campos cun asterisco (<span class="asterisco">*</span>) indican que o campo e OBLIGATORIO</p>
    </section>
    <!------------------------------------------------------->
    <!-----------------------   FOOTER   -------------------->
    <!------------------------------------------------------->
    <footer>
        <p class="copyright"></p>
    </footer>
    
  </body>
</html>