html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}
  
* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}
/* -------------------------CSS DO INDEX(user sen rexistrar)--------------------- */

.logo-centrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1{
    font-family: Comfortaa;
    border-top: 1px solid black;
    width: 30%;
    text-align: center;
    padding-top: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: right;
    margin: 10px;
    color: #0981fa;
}
nav ul li a{
    text-decoration: none;
    color: #0981fa;
}
nav ul li a:hover{
    text-decoration: underline;
}

.pax-inicio-sen-rexistrar{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
#barra-busqueda{
    padding: 15px 15px 15px 50px;
    width: 500px;
    border: 2px solid #0981fa;
    border-radius: 15px;
    margin-right: 16px;
    font-size: 17px;
    
}
#boton-busqueda{
    background-color: #0981fa;
    border: none;
    padding: 15px;
    border-radius: 10px;
    transition-duration: 0.2s;
    overflow: hidden;
    cursor: pointer;
}

#boton-busqueda:hover {
    background-color: #a2a7b4;
    transition-duration: 0.2s;
}
  
  
#boton-busqueda:active {
    background-color: #51545c;
    transition: 0s
}


footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0981fa;
    color:white;
    padding: 5em;
    text-align: center;
    margin-top: 2em;
    
}

/* -------------------------CSS DO LOGUEO DE ADMINISTRADOR--------------------- */

#form-inicio-sesion{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#form-inicio-sesion input{
padding: 10px;
border: 1px solid #0981fa;
border-radius: 5px;
}
#form-inicio-sesion button{
    background-color: #0981fa;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease;
    

}
#form-inicio-sesion button:hover{
    background-color: #51545c;
    transition: 0.4s ease;
}

/* -------------------------CSS DO INDEX ADMINISTRADOR--------------------- */

.logo-centrado h2 {
    border-top: 1px solid black;
}

.pax-inicio{
    display: flex;
    gap:10em;
    align-items: center;
    justify-content: center;
    margin: 6em 3em;
}

.links-xestion{
    text-decoration: none;
    color: white;
    background-color: #0981fa;
    border-radius: 30px;
    padding:20px;
    transition: 0.4s ease;
}

.links-xestion:hover{
    background-color: #51545c;
    transition: 0.4s ease;
}


/* -------------------------CSS DAS XESTIÓNS--------------------- */
.header-xestion{
    display: block;
    margin:1em;
}

h2{
    font-family: Comfortaa;
    text-align: center;
    padding-top: 10px;
    align-self: center;
}

.libros-pdf {
    border: 1px solid #0981fa;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    transition-duration: 0.2s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  
  
.libros-pdf:active {
    background-color: #51545c;
    transition: 0s
}


.pax-xestion{
    margin: 2em;
}

.pax-xestion div:first-child{
    display: flex;
    justify-content: space-between;
}




.links-form-libro{
    text-decoration: none;
    color: white;
    background-color: #0981fa;
    border-radius: 30px;
    padding:10px;
    transition: 0.4s ease;
}

.links-form-libro:hover{
    background-color: #51545c;
    transition: 0.4s ease;
}
.lista-libros {
    text-align: center;
}
.tabla-libros{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2em;
}

.tabla-libros th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.links-form-prestamo{
    text-decoration: none;
    color: white;
    background-color: #0981fa;
    border-radius: 30px;
    padding:10px;
    transition: 0.4s ease;
}

.links-form-prestamo:hover{
    background-color: #51545c;
    transition: 0.4s ease;
}
.lista-prestamos {
    text-align: center;
}
.tabla-prestamos{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2em;
}

.tabla-prestamos th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

/* -------------------------CSS DOS FORMULARIOS--------------------- */

.formulario{
    display: flex;
    justify-content: center;
    align-items: center; 
}
form div{
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
    width: 330px;
}
form label {
    align-self: left;
}
form input{
    align-self: right;
    
}
.boton-formulario{
    justify-content: center;
    align-items: center; 
    gap: 10px;
}
.boton-formulario button{
    background-color: #0981fa;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease;
    

}
.boton-formulario button:hover{
    background-color: #51545c;
    transition: 0.4s ease;
}
.detalle-formulario{
    text-align: center;
}
.asterisco {
    color:red;
}