<%- include('header_publica') -%>
<h1>CONTACTO</h1>
<p><strong>Use nuestro formulario de contacto</strong></p>
<form>
    <div class="form-group" >
        <input type="text" class="form-control" placeholder="Nombre" required/>
    </div>
    <p></p><!--separador-->
    <div class="form-group" >
        <input type="email" class="form-control" placeholder="Correo electronico" required />
    </div>
    <p></p>
    <div class="form-group"  >
        <input type="text" class="form-control" placeholder="Asunto"/>
    </div>
    <p></p>
    <div class="form-group" >
        <input type="text" class="form-control" placeholder="Telefono/s"/>
    </div>
    <p></p>
    <div>
        <label>Déjanos tu mensaje</label>
        <textarea class="form-control" cols="20" rows="7" maxlength="32000"></textarea>
    </div>
    <p></p>
    <div style="text-align:center">
        <button type="submit" class="btn btn-default btn-success">Enviar</button>
    </div>
    <p></p>
</form>
<%- include('footer') -%>
