<%- include('header') -%>
<h1>Añadir libro a base de datos</h1>
<form action="/crearLibro" method = "post"><!--cearLibro-->
    <div class="form-horizontal">
        <%- include('editorCentral') -%><!--formularios insertar libro-->
        <br>
        <div class="form-group row">
            <label  class="col-form-label col-sm-2"></label>
            <div class="col-sm-10">
                <input type="submit" value="Crear Registro" class="btn btn-default btn-success"/>
                <a href="/lista_libros" class="btn btn-outline-dark cancel">Cancelar</a>
            </div>
        </div>
    </div>    
</form>
<br>
<%- include('footer') -%>
