<%- include ('header') -%>
<h1>Añadir prestamo a la base de datos</h1>
<form action="/crearPrestamo" method="post">
    <div clas = "form-horizontal">
        <%- include('editorPrestamos') -%> <!--formulario de inserción del prestamo-->
        <br>
        <div class="form-group row">
            <label class="col-form-label col-sm-2"></label>
            <div class="col-sm-10">
                <input type="submit" value="Crear Registro" class="btn btn-default btn-success"/>
                <a href="/lista_prestamos" class="btn btn-outline-dark cancel">Cancelar</a><!--boton cancelar de vuelta a lista_prestamos.ejs-->
            </div>
        </div>
    </div>
    
</form>
 
<%- include ('footer') -%>