<div class="form-group row">
    <label class="col-form-label col-sm-2" for="titulo">Titulo</label>
    <div class="col sm-15">
        <input autofocus class="form-control" name="titulo" value="<%= modelo.titulo%>"/>
    </div>
</div>
<p></p>
<div class="form-group row">
    <label class="col-form-label col-sm-2" for="dni">DNI/socio</label>
    <div class="col sm-15">
        <input  class="form-control" name="dni" value ="<%=modelo.dni%>"/>
    </div>
</div>
<p></p>
<div class="form-group row">
    <label class="col-form-label col-sm-2" for="nombre">Nombre</label>
    <div class="col sm-15">
        <input  class="form-control" name="nombre" value = "<%=modelo.nombre%>"/>
    </div>    
</div>
<p></p>
<div class="form-group row">
    <label  class="col-form-label col-sm-2" for="id_libro_prestamo">ID libro</label>
    <div class="col sm-15">
        <input class="form-control" name="id_libro_prestamo" value ="<%=modelo.id_libro_prestamo%>"/>
    </div>
</div>
<!--('for' y 'name') tendrán el nombre de la variable de la base de datos-->