<%- include('header_publica') -%>
<h1>dentro de index.ejs</h1>
<!--'src', igual le dá con punto inicial o sin el-->
<img src="./img/campanilla.svg" alt="imagen1" class="grande"/>
<!--
<img src="./img/gardar.svg" alt="imagen2" class="grande"/>
<img src="/img/logout.svg" alt="imagen3" class="grande"/>
<img src="/img/search.svg" alt="imagen4" class="grande"/>
-->
<%- include('footer') -%>
